body{
    background-color: var(--bg-gray);
    font-family: 'Public Sans', sans-serif;
    color: var(--gray-color);
}

h1, h2{
    font-family: 'Playfair Display', serif;
}

.form-wrap{
    margin:2rem 0;
}
a{
    text-decoration: none;
    color: var(--gray-color);
    &:hover{
        color: var(--link-hover);
    }
}
:root{
    --gray-color: #697a8d;
    --link-color:#566a7f;
    --link-hover: #696cff;
    --bg-purple: #696cff;
    --bg-light-purple: #e7e7ff;
    --bg-gray:#f8f8f9;
}

.mr-3{
    margin-right: 10px;
}
.ptb-5{
    padding-top: 5px;
    padding-bottom: 5px;
}

.list-group-item{
    &:hover{
        background-color: #f4f5f7;
        .nav-link{
            color: #e91e63;
        } 
        
    }
    
    
}